@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; 
}

:root{
    --HEADER_BG_COLOR: #212021;
    --LOGO_COLOR: #54AFF5;
    --GENERIC_TEXT_COLOR: #EAEAEA;
    --GENERIC_DARK_COLOR: #191919;
    --BTTN_COLOR: #54AFF5;
    --FEATURES_SC_BG_COLOR: #212021;
    --HISTORY_SC_BG_COLOR: #131313;
    --PLANPRICING_SC_BG_COLOR: #212021;
    --GENERIC_TEXT_S_SIZE: 14px;
}

/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 80px;
    background-color: var(--HEADER_BG_COLOR);
    color: var(--LOGO_COLOR);
    height: auto;
}

header a{
    color: var(--LOGO_COLOR);
}

ul, li, a{
    text-decoration: none;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    padding-left: 20px
} */

@media(max-width: 430px){
    html{
        scroll-behavior: smooth;
    }

    header{
        display: flex;
        justify-content: center;
        padding: 8.5px 20px;
        background-color: var(--HEADER_BG_COLOR);
        position: fixed;
        top: 0;
        width: 100%;
    }

    header a{
    color: var(--LOGO_COLOR);
    text-decoration: none;
    }

    nav{
        display: none;
    }

    .herosection{
        background-image: url(../img/heroimage.png);
        height: 100vh;
        display: flex;
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        color: var(--GENERIC_TEXT_COLOR);
        gap: 16.5px;
    }

    .subscribenow {
        color: var(--GENERIC_TEXT_COLOR);
        background-color: transparent;
        border: 2px solid var(--BTTN_COLOR);
        padding: 20px 40px;
        border-radius: 10px;
        font-size: var(--GENERIC_TEXT_S_SIZE);
    }

    .feautures{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        background-color: var(--FEATURES_SC_BG_COLOR);
    }

    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 1rem;
        margin-bottom: 20px;
        background-color: #d9d9d92f;
        border-radius: 10px;
        padding: 20px;
        gap: 10px;
        width: 70%;
        height: auto;
        color: var(--GENERIC_TEXT_COLOR);
    }

    .card p{
        font-size: var(--GENERIC_TEXT_S_SIZE);
    }

    .card img{
        width: 100%;
        height: auto;
    }

    .history{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
        gap: 15px;
        background-color: var(--HISTORY_SC_BG_COLOR);
        color: var(--GENERIC_TEXT_COLOR);
    }

    .learnmore{
        background-color: #54AFF5;
        color: var(--GENERIC_TEXT_COLOR);
        background-color: transparent;
        border: 2px solid var(--BTTN_COLOR);
        padding: 20px 40px;
        border-radius: 10px;
        font-size: var(--GENERIC_TEXT_S_SIZE);
    }

    .history p{
        font-size: var(--GENERIC_TEXT_S_SIZE);
    }

    .aboutus img{
        width: 70%;
        height: auto;
    }

    .planpricing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        padding: 20px;
        background-color: var(--PLANPRICING_SC_BG_COLOR);
        color: var(--GENERIC_TEXT_COLOR);
    }
     
    .planspan, .bestplan{
        color: #54AFF5;
    }

    .pricingTable{
        background-color: #54AFF5;
        border: 2px solid #54AFF5;
        border-radius: 6px 6px 0px 0px;
    }

    .subscribenowTable {
        color: var(--GENERIC_DARK_COLOR);
        font-weight: bold;
        background-color: var(--BTTN_COLOR);
        border: 2px solid var(--BTTN_COLOR);
        padding: 10px 20px;
        border-radius: 10px;
        font-size: var(--GENERIC_TEXT_S_SIZE);
    }

    .socialmedias{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: var(--GENERIC_TEXT_S_SIZE);
        background-color: var(--HISTORY_SC_BG_COLOR);
        color: var(--GENERIC_TEXT_COLOR);
        padding: 10px;
    }

    .socialmedias img {
        width: 14px;
        height: auto;
    }

    .rightsreserved{
        text-align: center;
        padding: 4px;
        font-size: var(--GENERIC_TEXT_S_SIZE);
        background-color: var(--FEATURES_SC_BG_COLOR);
        color: var(--GENERIC_TEXT_COLOR);
        bottom: 0;
        position: relative;
        width: 100%;
    }
}